{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    <title>Update Review</title>
{% endblock title %}
{% block content %}
    <a href={% url "index" %}>
        <button type="button"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            Back To Index
        </button>
    </a>
    <h1 class="text-3xl font-bold mb-5">Update Review</h1>
    <form action="" method="POST">
        {% csrf_token %}{{ form|crispy }}
        <input type="submit"
               class="px-7 py-2 bg-green-400 hover:cursor-pointer hover:bg-green-300 rounded"
               value="Update Review" />
    </form>
{% endblock content %}
