{% extends '_base.html' %}
{% block title %}
    <title>Image Select</title>
{% endblock title %}
{% block content %}
    <h1 class="text-center text-primary">Select an Image for {{ figure.name }}</h1>
    {% if images %}
        <div class="row row-cols-3 row-cols-md-4 g-4 text-center">
            {% for image in images %}
                <div class="col p-2">
                    <div class="card h-100">
                        <img src="{{ image.image_url }}" class="card-img-top h-100" alt="" />
                        <div class="card-body">
                            <h5 class="card-title">{{ image.name }}</h5>
                            <p class="d-none">{{ image.id }}</p>
                            <p class="d-none">{{ image.image_url }}</p>
                            <form action="{% url 'selected-image' figure.id %}" method="POST">
                                {% csrf_token %}
                                <input name="id" type="hidden" value="{{ image.id }}" />
                                <input name="name" type="hidden" value="{{ image.name }}" />
                                <input name="image_url" type="hidden" value="{{ image.image_url }}" />
                                <button type="submit" class="btn btn-primary mb-2">Select</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h1>No images</h1>
    {% endif %}
{% endblock content %}
