{% extends '_base.html' %}
{% block title %}
    <title>Battle Screen</title>
{% endblock title %}
{% block content %}
    <h1 class="text-center text-primary">Battle Screen</h1>
    <div>
        <div class="row row-cols-2  text-center">
            {% for item in battle %}
                <div class="col p-2">
                    <div class="card h-100">
                        <div class="row g-0">
                            <div class="col-md-7">
                                <img src="{{ item.image.image_url }}"
                                     class="img-fluid rounded-start"
                                     alt="...">
                            </div>
                            <div class="col-md-5">
                                <div class="card-body">
                                    <h3 class="card-title text-info">{{ item.figure }}</h3>
                                    <h5 class="card-title">Representing:</h5>
                                    <h5 class="card-title text-danger">
                                        {% if item.player %}
                                            {{ item.player }}
                                        {% else %}
                                            AI
                                        {% endif %}
                                    </h5>
                                    <h6 class="card-title">Figure Attributes</h6>
                                    <p class="card-text">Notoriety: {{ item.notoriety }}</p>
                                    <p class="card-text">Luck: {{ item.luck }}</p>
                                    <p class="card-text">Intelligence: {{ item.intelligence }}</p>
                                    <p class="card-text">Strength: {{ item.strength }}</p>
                                    <h6 class="card-title">
                                        Total Score: <span class="text-danger">{{ item.score }}</span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="d-flex justify-content-center">
            <a href={% url "outcome" %}>
                <button class="btn btn-primary mb-2">Result</button>
            </a>
        </div>
    </div>
{% endblock content %}
