{% extends '_base.html' %}
{% load static %}
{% block title %}
    <title>Home</title>
{% endblock title %}
{% block content %}
    <div class="text-center">
        <h1 class="text-primary">Welcome to Historical Fight Club</h1>
        {% if user.is_authenticated %}
            <h3>
                Hi <span class="text-danger">{{ user.username }}</span>!
            </h3>
            <a href="{% url 'search-figure' %}">
                <button class="btn btn-primary">Start the game</button>
            </a>
        {% else %}
            <h2 class="text-danger">You are not logged in</h2>
        {% endif %}
    </div>
{% endblock content %}
