{% extends '_base.html' %}
{% block title %}
    <title>My Profile</title>
{% endblock title %}
{% block content %}
    <div class="text-center">
        <h1 class="text-primary">Profile page for {{ user.username }}</h1>
        <h5>Matches Played: {{ profile.matches_played }}</h5>
        <h5>Matches Won: {{ profile.matches_won }}</h5>
    </div>
    <div class="row row-cols-3 row-cols-md-4 g-4 text-center">
        {% for figure in profile.figures_played.all %}
            <a href={% url "profile-figure" figure.pk %}>
                <button>
                    <div class="col p-2">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">{{ figure.name }}</h5>
                                <h5 class="card-title">{{ figure.title }}</h5>
                            </div>
                        </div>
                    </div>
                </button>
            </a>
        {% endfor %}
    </div>
{% endblock content %}
