{% extends "base.html" %}
{% block title %}
    <title>Book Detail</title>
{% endblock title %}
{% block content %}
    <h1 class="text-3xl font-bold mb-5">Book Detail</h1>
    <a href={% url "index" %}>
        <button type="button"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            Back To Index
        </button>
    </a>
    <p class="text-1xl font-bold mb-3 mt-3">{{ book.title }}</p>
    <p class="text-1xl font-bold mb-3 mt-3">By: {{ book.author }}</p>
    <img class="h-24 max-w-xs rounded-lg"
         src="{{ book.thumbnail_url }}"
         alt="{{ book.title }}">
    <p>Book Description: {{ book.description }}</p>
    <br />
    <p class="text-1xl font-bold mb-3 mt-3">Number of Reviews {{ num_reviews }}</p>
    <p class="text-1xl font-bold mb-3 mt-3">Average Rating {{ avg_rating }}</p>
    <h2 class="text-2xl font-bold mb-3 mt-3">Reviews</h2>
    {% for review in reviews %}
        <p>Review By: {{ review.user }}</p>
        <p>Rating: {{ review.rating }}</p>
        <p>Review: {{ review.review_text }}</p>
        <a href={% url "update-review" review.id %}>
            <button type="button"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                Update Review
            </button>
        </a>
    {% endfor %}
    <a href={% url "add-review" book.id %}>
        <button type="button"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            Add Review
        </button>
    </a>
{% endblock content %}
