<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Gif Display Page</title>
	</head>
	<body>
		<div>
			<form action="" method="POST">
				{% csrf_token %}{{form}}
				<input type="submit" value="Search" />
			</form>
		</div>
		{% for gif in gifs %}
		<h2>{{gif.title}}</h2>
		<img src="{{gif.url}}" alt="gif" />
		<p>Uploaded by {{gif.uploader_name}}</p>
		<p>Created {{gif.created_at|date:"d/m/Y"}}</p>
		<p>{{gif.categories.all|join:", "}}</p>
		{% endfor %}
	</body>
</html>
